<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Note Organizer!</title>
    <link rel="stylesheet" href="js/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="js/lib/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/customized.css">
    <link rel="stylesheet" type="text/css" href="js/lib/ng-dialog/css/ngDialog.css">
    <link rel="stylesheet" type="text/css" href="js/lib/ng-dialog/css/ngDialog-theme-default.css">

    <script data-main="js/application/require-config.js" src="js/lib/requirejs/require.js"></script>
</head>

<body>
<growl-notifications></growl-notifications>

<div ui-view></div>
</body>
</html>
