<div id="dialog">
  <div class="row center-block">
      <center>
          <h3 id="dialog-title">
              {{content.title}}
          </h3>
          <h6 id="dialog-firstHeader">
              {{content.firstHeader}}
          </h6>
          <h6 id="dialog-secondHeader">
              {{content.secondHeader}}
          </h6>
          <div ng-if="content.showInput">
              <input id="dialog-input" type="text" ng-model="content.dialogInput" style="width:50%" ng-init="content.dialogInput = ''" ng-hide="viewMode" placeholder="{{content.inputPlaceholder}}" class="text-input-styling"/>
          </div>
      </center>
  </div>
  <hr>
  <div class="row center-block">
      <span>
            <button id="dialog-cancel" type="button" class="btn btn-primary pull-left" ng-click="closeThisDialog()">Cancel</button>
      </span>
      <span>
            <button id="dialog-confirm" type="button" class="btn btn-danger pull-right" ng-click="confirm(content.dialogInput)">Confirm</button>
      </span>
  </div>
</div>
