<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <uib-tabset id="tabset" active="tsc.activeTab" justified="true">
            <uib-tab id="tabset-tab-{{tab}}" ng-repeat="tab in tabs track by $index" select="tsc.setActiveTab($index)">
                <uib-tab-heading>
                    <span class="tabTitle">{{tab}}</span>
                    <span ng-show="tsc.isTabActive($index)" ng-click="tsc.deleteTab(tab)" class="glyphicon glyphicon-trash pull-right big-icon redOnHover iconOnTab"></span>
                </uib-tab-heading>

                <center>
                    <span ng-show="tsc.isEmpty(thisTabNotes)" class="glyphicon glyphicon-info-sign text-color info-top-margin"> There are no notes associated with this tab :(</span>
                </center>

                <div class="row">
                    <div class="col-lg-2 col-lg-offset-5">
                        <button id="newNoteButton" type="button" ng-click="tsc.toggleNote()" ng-init="tsc.buttonTitle = 'New'" class="btn btn-md btn-high btn-info center-block info-top-margin">{{tsc.buttonTitle}}</button>
                    </div>
                    <div class="col-lg-4 col-lg-offset-1">
                        <filter-bar-directive class="info-top-margin pull-right" properties="tsc.noteProperties" selected="tsc.property" ascending="tsc.order" ng-hide="tsc.isEmpty(thisTabNotes)"></filter-bar-directive>
                    </div>
                </div>

                <div ui-view="newNote"></div>

                <note ng-repeat="note in notes | NoteByTabFilter: tab | orderBy: tsc.property : tsc.order as thisTabNotes track by note._id" view-mode="true" note="note" on-confirm="tsc.sendNote(note)" on-cancel="tsc.deleteNote(note)"></note>
            </uib-tab>
        </uib-tabset>
    </div>

     <div class="col-lg-1 new-tab-icon pull-right" ng-hide="tsc.tabsFull(tabs)">
         <span ng-click="tsc.newTab()" class="glyphicon glyphicon-plus greenOnHover big-icon iconOnTab extremely-big-icon"></span>
     </div>
</div>

<div ng-repeat="(id, notification) in tsc.notifications track by id">
    <growl-notification ng-class="{'{{notification.type}}' : true}" class="shadowed">
        {{notification.content}}
    </growl-notification>
</div>
