<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div class="row">
        <div class="col-sm-12">
            <center>
                <div class="container">
                    <div class="page-header">
                        <h1 id="bigHeading">Note organizer!</h1>
                        <h4 id="description">A very simple application for creating, storing and viewing your notes!</h4>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="">
                <div ui-view="changeable"></div>
            </div>
        </div>
    </div>
    <div ui-view></div>
</body>
</html>
